.DS_Store
dit/.idea/*
__pycache__/
annotated/slurm*
fields/*
config/old/*
*.swp
annotated/old_pyscripts/*
annotated/*.err
annotated/*.log
annotated/track_checkpoint_likelihoods.py
annotated/wandb/*
annotated/Ablations.pages
annotated/CondLik/*
annotated/.idea/*
annotated/sample_log/unit_test/*
*/.ipynb_checkpoints/*
annotated/models_data/*
annotated/results/*
annotated/stout/*
annotated/sample_log/*
annotated/old/*
annotated/sterr/*
annotated/.ipynb_checkpoints/*
config/old/*
Trash/*
*.swp
annotated/classifier_scripts/sterr/
annotated/classifier_scripts/stout/
annotated/classifier_scripts/wandb/
